# Принудительно использовать LF для shell-скриптов
*.sh text eol=lf

# Для остальных текстовых файлов тоже LF
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
